
body {
	overflow-x: hidden;
	position: relative;
}

nav {
	/* border-bottom: 1px solid #444; */
	height: 76px;
	position: fixed;
	transition: background-color .25s ease-in;
	width: 100%;
	z-index: 555;
}

nav .nav-container {
	display: flex;

	z-index: 100;
}

nav a {
	color: black;
}

nav .nav-logo {
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 10px;
	width: 20%;
}

.nav-logo a {
	display: inline-block;
	font-family: "Poiret One", sans-serif;
	font-size: 18pt;
}

.nav-logo a span {
	font-size: 20pt;
	font-weight: bold;
	letter-spacing: 4px;
	padding-left: 11px;
}

ul.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 25px;
	width: 80%;
}
ul.nav-menu li {
	text-align: center;
}
ul.nav-menu li a {
	display: block;
	font-family: "Bellota Text", sans-serif;
	font-size: 14pt;
	padding: 30px 10px;
}
ul.nav-menu li a:hover {
	background-color: rgba(0,0,0, .1);
}

.flyover {
	position: fixed;
	filter: blur(3px);
	z-index: 0;
}
.flyover video {
	width: 100vw;
	min-width: 1000px;
	min-height: 600px;
	margin: 0 auto;
}

header {
	position: relative;
	background-color: rgba(250,250,250,.6);
	/* height: calc(100vh - 76px); */
	min-height: 600px;
	padding-top: 76px;
	z-index: 4;
}

header .header-box {
	margin-top: 75px;
	text-align: center;
	z-index: 6;
}

.header-box h1,
.header-box h3 {
	font-family: "Bellota Text", sans-serif;
}
.header-box h1 {
	font-size: 30pt;
	line-height: 76px;
}
.header-box h3 {
	font-size: 25pt;
}

.header-box .link {
	margin-top: 35px;
	text-align: center;
}

.text-slider {
	margin-top: 50px;
}
.text-slider p {
	font-family: "Bellota Text", sans-serif;
	font-size: 14pt;
	font-style: italic;
	/* font-weight: bold; */
	letter-spacing: 1px;
	line-height: 40px;
	text-align: center;
}

.call-box {
	text-align: center;
}
.call-box a {
	background-color: #9cdffd;
	background-color: #d1edfa;
	border: 1px solid #777;
	color: #353535;
	display: inline-block;
	font-family: "Bellota Text", sans-serif;
	font-size: 13pt;
	line-height: 30px;
	margin-top: 100px;
	padding: 15px 30px;
	transition: all .1s ease-in;
}
.call-box a span {
	font-size: 17pt;
	font-weight: bold;
}
.call-box a:hover {
	transform: scale(1.1);
}

main {
	background-color: white;
	position: relative;
	z-index: 10;
}

.intro-box {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
.intro,
.service {
	background-color: white;
	padding: 30px 50px;
	width: 50%;
}
.intro-box p,
.intro-box h3,
.intro-box h4{
	font-family: "Titillium Web", sans-serif;
	font-size: 14pt;
	line-height: 35px;
	padding: 8px 0;
}
.intro-box p {font-size: 13pt;}
.intro-box h4 {font-size: 15pt; font-style: italic; font-weight: bold;}
.intro-box h3 {font-size: 20pt; font-weight: bold;}

.intro-box p span {
	font-family: "Rye", serif;
	font-size: 50pt;
	padding-right: 8px;
}

.icon {
	text-align: center;
}
.icon img {
	max-width: 50px;
}

section.cases {
	background-color: #424242;
}
.cases-box {
	display: flex;
	padding-top: 40px;
}
.case {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
}

.case h3,
.case p {
	font-family: 'Lato', sans-serif;
	font-family: "Titillium Web", sans-serif;
	line-height: 35px;
	text-align: center;
}
.case h3 {
	color: #99caf8;
	font-size: 17pt;
	/* font-style: italic; */
}
.case-specs {
	margin: 0 auto;
	padding: 10px;
}
.case p {
	font-size: 16pt;
}
.case .owed {color: #ff6e55;}
.case .settled {color: #99caf8;}
.case .savings {
	color: #21FA90; 
	font-size: 18pt;
	font-style: italic;
	/* padding-top: 15px; */
}
.savings-br {display:none;}
.more-cases {
	padding: 50px 0;
	text-align: center;
}
.more-cases a {
	background-color: rgb(240, 240, 240);
	border: 1px solid #287fcf;
	color: #287fcf;
	font-family: "Titiillium Web", sans-serif;
	font-size: 16pt;
	font-weight: bold;
	padding: 15px 30px;
	transition: all .15s;
}
.more-cases a:hover {
	background-color: white;
}


.articles {
	display: flex;
}
.articles a {
	display: block;
	padding: 20px;
	text-decoration: none;
	/* max-width: 350px; */
	/* margin: 0 auto; */
}
/* .article-img {
	height: 150px;
} */
.articles a {
	color: #3a3a3a;
	font-family: "Titillium Web", "Arial", sans-serif;
}
.articles .title {
	color: #2424c4;
	font-size: 15pt;
}
.articles .text {
	background-color: lightgrey;
	height: 50px;
	overflow: hidden;
	padding: 5px 20px;
}
.articles .text.show {
	height: 150px;
}



footer {
	background-color: #3a3a3a;
	display: flex;
	height: 250px;
	padding: 30px 15px;
	position: relative;
}
footer div {
	width: 33%;
	margin: 0 auto;
}
footer p {
	color: lightgrey;
	padding: 7px 0;
}
footer .social i {
	color: lightgrey;
	font-size: 20pt;
	padding: 0 4px;
}

footer .consultation {
	text-align: center;
}

footer .disclaimer {
	text-align: justify;
}


.green {
	color: #21FA90;
}