
body {
	overflow-x: hidden;
	position: relative;
}
h1,h2,h3,h4,h5,h6,p {line-height: 30px;}
h1,h2,h3,h4,h5,h6 {font-family: 'Bellota Text', 'Arial', sans-serif;}
h1 {font-size: 30pt;}
h2 {font-size: 27pt;}
h3 {font-size: 22pt;}
h4 {font-size: 18pt;}
h5 {font-size: 16pt;}
h6 {font-size: 14pt;}

p {
	font-family: "Titillium Web", sans-serif;
	font-size: 14pt;
}

nav {
	height: 76px;
	position: fixed;
	transition: background-color .25s ease-in;
	width: 100%;
	z-index: 555;
}

nav .nav-container {
	display: flex;
	z-index: 100;
}

nav a {
	color: black;
}

.nav-logo a span {
	font-size: 20pt;
	font-weight: bold;
	letter-spacing: 4px;
	padding-left: 11px;
}

ul.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	padding-right: 25px;
	/* width: 80%; */
}
ul.nav-menu li {
	text-align: center;
}
ul.nav-menu li a {
	display: block;
	font-family: "Bellota Text", sans-serif;
	font-size: 14pt;
	padding: 30px 10px 15px;
	/* transition: all .25s ease-in; */
}
ul.nav-menu li a:hover {
	border-bottom: 1px solid rgba(0,0,0, .3);
}

.flyover {
	position: fixed;
	filter: blur(2px);
	z-index: 0;
	width: 100%;
}
.flyover video {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

@media (max-aspect-ratio: 16/9) {
    .flyover video { 
        width:120%;
        /* height: 100%; */
    }
}@media (max-width: 767px) {
    .flyover video {
        display: none;
    }
    /* .flyover {
        background-image: url('./img/poster.jpg');
        background-size: cover;
    } */
}

header {
	position: relative;
	background-color: rgba(250,250,250,.5);
	padding: 35px 0;
	z-index: 5;
}

header .header-box {
	margin-top: 75px;
	text-align: center;
	z-index: 6;
	font-weight: bold;
}

.header-box h1,
.header-box h3 {
	font-family: "Bellota Text", sans-serif;
}
.header-box h1 {
	font-size: 30pt;
	line-height: 76px;
}
.header-box h3 {
	font-size: 25pt;
}

.header-box .link {
	margin-top: 35px;
	text-align: center;
}

.text-slider {
	margin-top: 50px;
}
.text-slider p {
	font-family: "Bellota Text", sans-serif;
	font-size: 14pt;
	/* font-weight: bold; */
	letter-spacing: 1px;
	line-height: 40px;
	text-align: center;
}

.call-box {
	text-align: center;
}
.call-box p {
	background-color: #0d5273;
	border: 1px solid #777;
	color: white;
	display: inline-block;
	font-family: "Bellota Text", sans-serif;
	font-size: 17pt;
	line-height: 30px;
	margin-top: 50px;
	padding: 15px 30px;
	transition: all .1s ease-in;
}

main {
	background-color: white;
	position: relative;
	z-index: 10;
}

.intro-box {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 3;
}
.intro,
.service {
	background-color: white;
	padding: 30px 50px;
	width: 50%;
}
.intro-box p,
.intro-box h3,
.intro-box h4{
	font-family: "Titillium Web", sans-serif;
	font-size: 14pt;
	line-height: 35px;
	padding: 8px 0;
}
.intro-box p {font-size: 13pt;}
.intro-box h4 {font-size: 15pt; font-style: italic; font-weight: bold;}
.intro-box h3 {font-size: 20pt; font-weight: bold;}

.icon {
	text-align: center;
}
.icon img {
	max-width: 50px;
}

section.cases {
	background-color: #424242;
}
.cases-box {
	display: flex;
	padding-top: 40px;
}
.case {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
}

.case h3,
.case p {
	font-family: 'Lato', sans-serif;
	font-family: "Titillium Web", sans-serif;
	line-height: 35px;
	text-align: center;
}
.case h3 {
	color: #99caf8;
	font-size: 17pt;
}
.case-specs {
	margin: 0 auto;
	padding: 10px;
}
.case p {
	font-size: 16pt;
}
.case .owed {color: #ff6e55;}
.case .settled {color: #99caf8;}
.case .savings {
	color: #21FA90; 
	font-size: 18pt;
	font-style: italic;
}
.savings-br {display:none;}
.more-cases {
	padding: 50px 0;
	text-align: center;
}
.more-cases a {
	background-color: rgb(240, 240, 240);
	border: 1px solid #287fcf;
	color: #287fcf;
	font-family: "Titiillium Web", sans-serif;
	font-size: 16pt;
	font-weight: bold;
	padding: 15px 30px;
	transition: all .15s;
}
.more-cases a:hover {
	background-color: white;
}


.articles {
	display: flex;
	padding-bottom: 50px;
	max-width: 1350px;
	margin: 0 auto;
}
.articles .article {
	width: 33%;
	margin: 0 auto;
}
.articles a {
	display: block;
	padding: 20px;
	text-decoration: none;
}
.articles a {
	color: #3a3a3a;
	font-family: "Titillium Web", "Arial", sans-serif;
	position: relative;
	min-height: 250px;
}
.articles .title {
	color: #0d5273;
	font-family: "Bellota Text", sans-serif;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	transition: all .35s;
}
.article-content {
	margin-top: 15px;
	text-align: center;
}
.article-img {
	max-width: 300px;
	margin: 0 auto;
	opacity: 0;
	transition: all .35s ease-in;
}
.articles .text {
	font-size: 15pt;
	line-height: 30px;
	width: 75%;
	margin-top: -175px;
	overflow: hidden;
	padding: 15px 30px;
	transition: all .35s ease-in;
	position: absolute;
	opacity: 0;
	text-align: justify;
}
.article-content .show {
	/* background-color: #eee; */
	opacity: 1;
	/* display: block; */
}
.article:hover .title {
	transform: scale(1.1);
}



/*       SERVICES  ------  */

.subpage-header-box {
	height: 30vh;
}
.subpage-header-box .subpage-title {
	font-size: 34pt;
	letter-spacing: 2px;
	padding-top: 40px;
	text-shadow: 1px 1px 1px #ddd;
}

#services .top-section,
#services .middle-section {
	padding: 40px 0;
	max-width: 70vw;
	margin: 0 auto;
}
@media (max-width: 800px) {
	#services .top-section,
	#services .middle-section {
		max-width: 85vw;
	}
}
@media (max-width: 500px) {
	#services .top-section,
	#services .middle-section {
		max-width: 90vw;
	}
}

#services .top-section p {
	font-weight: bold;
	line-height: 30px;
	text-align: justify;
}
#services .bullets {
	max-width: 800px;
	margin: 0 auto;
	padding: 15px 0;
}
#services .bullets .service-bullet {
	font-size: 13pt;
	font-weight: normal;
	text-align: left;
}

#services .banner {
	background-color: #0d5273;
	color: white;
	font-weight: bold;
	padding: 25px 0;
	text-align: center;
}
#services .banner h6 {
	letter-spacing: 1px;
	line-height: 35px;
}
#services .banner p {
	line-height: 30px;
	letter-spacing: 1px;
	padding-top: 15px;
}

#services .middle-section p {
	text-align: justify;
}
#services .middle-section .bullets {
	padding: 25px 0;
	line-height: 35px;
	text-align: center;
}
.em-line {
	border-bottom: 1px solid #777;
	line-height: 0;
	margin: 0 auto;
	padding: 0 0 10px;
	width: 100px;
}
.middle-section .bullets .guarantee {
	padding-top: 10px;
}
.bottom-section {
	padding-bottom: 40px;
}
.aa-box {
	max-width: 500px;
	margin: 0 auto;
	background-color: #ddd;
	text-align: center;
	padding: 20px;
}
.aa-title {
	font-weight: bold;
	font-size: 15pt;
	text-align: center;
}


/* 		FOOTER   -------- */

footer {
	background-color: #3a3a3a;
	display: flex;
	height: 250px;
	/* margin-top: 50px; */
	padding: 30px 15px;
	position: relative;
}
footer div {
	width: 33%;
	margin: 0 auto;
}
footer p {
	color: lightgrey;
	padding: 7px 0;
}
footer .social i {
	color: lightgrey;
	font-size: 20pt;
	padding: 0 4px;
}

footer .consultation {
	text-align: center;
}

footer .disclaimer {
	text-align: justify;
}


.green {
	color: #21FA90;
}